.body {
    background: linear-gradient(90deg, rgba(111,241,212,1) 0%, rgba(4,99,65,1) 100%);
    margin: 0%;
    font-family: 'Pangolin', cursive;
}

.main {
    position: relative;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    width: 98vw;
    background: radial-gradient(circle, rgba(4,88,69,1) 0%, rgba(0,18,11,1) 100%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esuqerda > h1 {
    color: greenyellow; 
}

.esquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color:aquamarine;
}

.img {
    width: 30vw;
    height: 50vh;
    border-radius: 20%;
}

.direta {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 10px;
    background-color: rgb(9, 87, 9);
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    width: 35vw;
    height: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label {
    color:aquamarine;
    font-size: 25px;
}

.input {
    width: 15vw;
    height: 5vh;
    border-radius: 10%;
}

.button {
    color:aquamarine;
    background: radial-gradient(circle, rgba(2,78,7,1) 43%, rgba(11,186,25,1) 100%);
    border-radius: 10%;
    height: 10vh;
    width: 10vw;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .esquerda >h1 {
        display: none;
    }
    main {
        flex-direction: column;
    }
}
