body {
    background-color: #fbccfa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9f2f2d2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #7914ec;
    text-align: center;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c2c2f1d1;
    border-radius: 5px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 5px 0;
}

.submit-button {
    background-color: #ba28df;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tag {
    display: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.correct {
    background-color: #30c60a;
    color: #ffffff;
}

.incorrect {
    background-color: #e43320;
    color: #ffffff;
}