.boody {
  background: url(https://img.elo7.com.br/product/zoom/1CAA527/painel-adesivo-castelo-2-00x1-50-adesivo-de-parede-castelo.jpg) no-repeat center center; 
  background-size: cover;
  height: 1000px;
}

.header {
  background:  radial-gradient(circle, rgba(107,0,164,0.7792366946778712) 53%, rgba(62,52,140,0.8828781512605042) 72%);
  height: 150px;
}

.h1 {
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 55px;
  color: rgb(255,178,234);
}

.h5 {
  font-family: 'Pangolin', cursive;
  color: rgb(255,178,234);
  font-size: 25px;
}

.p {
  font-family: 'Pangolin', cursive;
  color: rgb(255,178,234);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.label-menu, .checkbox {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: rgba(122, 57, 213, 0.758);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: beige;
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamb {
    border-top: 0.125rem solid;
    width: 1.25rem;
    color: rgb(255,178,234);
  }
  .hamb::after, 
  .hamb::before{
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
    color: rgb(255,178,234);
  }
  .checkbox:checked ~ .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .checkbox:checked ~ .label-menu .hamb {
    border-top-color: transparent;
  }
  .checkbox:checked ~ .label-menu .hamb::before {
    transform: rotate(135deg);
  }
  .checkbox:checked ~ .label-menu .hamb::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}
