body {
    background-color: rgba(137, 43, 226, 0.499);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(46, 5, 84, 0.767);
}

h1, .p1{
    color:beige;
    text-align: center;
}

p {
    color:beige;
}

.p2 {
    color:black;
}

h3 {
    color:rgb(2, 2, 80);
    text-align: center;
}

li{
    color:beige; 
}

.div1 {
    background-color: rgb(116, 13, 212);
}

.div2 {
    color:beige;
    background-color:rgba(156, 11, 166, 0.741);
}

.div3 {
    background-color:violet;
}

nav {
    text-align: center;
}

a {
    text-align: center;
    display:block
}

footer {
    background-color:rgb(240, 171, 240);
}

