.header {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.h1 {
    text-align:center;
}

.main {
    background: linear-gradient(90deg, rgba(124,235,191,1) 0%, rgba(148,187,233,1) 100%);
}

.table {
    border: 1px solid black; border-collapse: collapse; width: 100%;
}

.th {
    border: 1px solid;
}

.td {
    border: 1px solid;
    text-align: center;
}

.footer {
    background: linear-gradient(90deg, rgba(124,235,191,1) 0%, rgba(249,237,76,1) 100%);
}